@import "tailwindcss";
:root {
  --font-inter: "Inter", sans-serif;
  --main: #101828;
  --text: #475467;
  --white: #fff;
  --inputs: #f7f7f7;
  --badges: #f2f4f7;
  --gray: #6c717b;
  --gray-light: #dadde1;
  --button: #e44848;
  --button-hover: #d84343;
  --rating: #ffc531;
}
* {
  box-sizing: border-box;
}
html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
body {
  font-family: var(--font-inter);
}

main {
  min-height: 100vh;
}

a {
  text-decoration: none;
}
li {
  list-style: none;
}

button {
  cursor: pointer;
}
.container {
  max-width: 1440px;
  padding: 0 64px;
}
